.life_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 2em 1em;
    list-style-type: '';
}

li.bird {

    width: 200px;
    height: 300px;
    flex: 1 1 auto;
}

p.caption {
    font-style: italic;
    /* background-color: rgb(114 135 77 / 30%); */
    background-color: rgb(255 248 220 / 60%);  
    /* background-color: rgb(255 255 255 / 80%); */

}

