* {
    box-sizing: border-box;
}

body {
    margin: 10px auto;
    max-width: 100%;
    line-height: 1.6;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    padding: 0 20px 0 20px;
    display: block;
    font-family: "Literata", serif;
    overflow: auto;
    zoom: 70%;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: 1.5em 0 0 0;
    font-family: "Helvetica Neue", "Arial", sans-serif;

}

h1 {
    float:left;
    display:inline !important;
    text-align: left;
    font-size: 4.5em;
    margin: 0.5em 0 0 0;
    max-width: 10em;
}

h2 {
    font-size: 2em;
    margin: 1.2em 0 0 0;
}

h3 {
    font-family: "Literata";
    font-size: 1.1em;
    clear:left;
    margin-top:0px;
    padding-top: 0.75em;
}

p {
    margin: 1.3em 0 0 0;
    text-align: justify;
    font-weight: 400;
}

ul {
    margin-top: 0.5em;
}

p.tagline {
    font-family: "Literata";
    font-size: 1.1em;
    font-weight: 700;
    font-style: normal;
    clear: left;
    float: left;
    text-align: left;
    padding-top: 3.2em;
}

#tagline_default {
    display: none;
     
}

#tagline_print {
    display: block;
}

img { 
    /* display: none; */
    float:right;
    width:75px;
    height:75px;
    margin: -5.5em auto 2em auto;

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

p.organisation, p.timeframe {
    display: inline-block;
    margin: 0.25em 0 0.5em 0;
    font-weight: 400;
    max-width: 50%;
}

p.organisation {
    text-align:left;
}

p.university {
    margin: 0.25em 0 0.5em 0;
    font-weight: 400;
    text-align: left;
    max-width: 90%;
}

p.timeframe {
    text-align: left;
}

ul {
    clear:both;
    list-style-type: '– ';
    padding-left:0.70em;
    font-weight:300;
}

a:link, a:visited, a:hover, a:active {
    color:#333;
    text-decoration: none;
}

.navigation{
    clear: both;
    overflow: hidden;
    margin: 0 -30px 0 -30px;
}

.navigationLeft, .navigationRight {
    margin: 1em 0 1em 0; 
}

.navigationLeft {
    float: left;
    text-align: left;
    padding: 0 0 0 30px;
}

.navigationRight{
    float: right;
    text-align: right;
    padding: 0 30px 0 0;
}

.navigation > .active{
    text-decoration: underline;
}

.navigation > h2{
    display: none;
}

.navigation + h2 {
    clear: both;
    margin: 1em 0 0 0;
}

/* Selection of Work experience */
div.workexperience, 
.educationcontent {
    display: none;    
}

div#ValsplatSenior, 
div#ValsplatNOS,
div#Puurpxl {
    display: block;
}

/* Hide contact section, in favor of contact details at top of page. */
#contact {
    display: none;
}

.contactDetails {
    clear: right;
    float: right;
    display: block;
    text-align: right;
    padding-bottom: 1em;
}
